In [1]:
import pandas as pd

In [3]:
vaccine = pd.read_csv("mock_data/vaccine.csv")
vaccine.vaccine_date = pd.to_datetime(vaccine.vaccine_date)
vaccine.to_csv("mock_data/vaccine.csv")

In [11]:
meeting = pd.read_csv("mock_data/meets.csv")
meeting.meeting_date = pd.to_datetime(meeting.meeting_date)
meeting.to_csv("mock_data/meets.csv")

In [13]:
test = pd.read_csv("mock_data/test.csv")
test.test_date = pd.to_datetime(test.test_date)
test.to_csv("mock_data/test.csv")
test

    test_id  test_date  test_type  result
0         1 2021-09-03  Antigenic    True
1         2 2021-06-26        PCR   False
2         3 2021-10-12  Antigenic   False
3         4 2021-01-31        PCR   False
4         5 2020-11-26  Antigenic   False
..      ...        ...        ...     ...
95       96 2021-01-21        PCR    True
96       97 2021-09-22  Antigenic    True
97       98 2020-12-04        PCR    True
98       99 2021-08-28  Antigenic   False
99      100 2021-03-03        PCR   False

[100 rows x 4 columns]

In [16]:
contag = pd.read_csv("mock_data/contagion.csv")
contag.contagion_date = pd.to_datetime(contag.contagion_date)
contag.to_csv("mock_data/contagion.csv")
contag

    contagion_id contagion_date
0              1     2020-10-22
1              2     2021-10-06
2              3     2021-06-26
3              4     2021-09-07
4              5     2021-08-10
..           ...            ...
95            96     2021-09-21
96            97     2020-11-23
97            98     2021-09-05
98            99     2020-12-12
99           100     2020-12-28

[100 rows x 2 columns]

In [51]:
meets = pd.read_csv("mock_data/meets.csv")
meets

    Unnamed: 0  person_id_1  person_id_2  place_id meeting_date
0            0           83           68         6   2021-02-05
1            1           98            2        29   2020-11-06
2            2           37           85        19   2021-07-23
3            3           29           56        77   2021-03-12
4            4           76           85        11   2021-08-31
..         ...          ...          ...       ...          ...
95          95           88           61        64   2021-07-30
96          96           89           22        81   2021-03-25
97          97           17            6        59   2021-01-03
98          98           25           38        50   2021-10-19
99          99           53           89        18   2021-05-24

[100 rows x 5 columns]

In [3]:
place = pd.read_csv("mock_data/place.csv")
place

    place_id           place_name place_category
0          1            La Tinera     Restaurant
1          2                Agape     Restaurant
2          3      Grotto Morchino     Restaurant
3          4                Trani     Restaurant
4          5  Al barilotto Lugano     Restaurant
5          6                  Pan        Theater
6          7         Delle radici        Theater
7          8                  LAC        Theater
8          9             Cinestar         Cinema
9         10                Iride         Cinema
10        11    Leonardo da Vinci         School
11        12   Cantonale Lugano 1         School
12        13     Everest Accademy         School
13        14            Sant'Anna         School
14        15                 CSIA         School
15        16                 TESL         School
16        17    Lugano-Bellinzona          Train
17        18        Zurich-Geneva          Train
18        19                SEVEN           Club
19        20          Underground           Club
20        21                Nikka           Club

In [52]:
meets_joined = meets.merge(place, left_on='place_id', right_on='place_id')
meets_joined

,Unnamed: 0,person_id_1,person_id_2,place_id,meeting_date,place_name,place_category
0,0,83,68,6,2021-02-05,Pan,Theater
1,85,43,66,6,2021-10-10,Pan,Theater
2,2,37,85,19,2021-07-23,SEVEN,Club
3,4,76,85,11,2021-08-31,Leonardo da Vinci,School
4,48,22,97,11,2020-12-16,Leonardo da Vinci,School
5,6,31,36,5,2021-08-12,Al barilotto Lugano,Restaurant
6,7,23,46,10,2021-05-26,Iride,Cinema
7,14,7,31,10,2021-07-11,Iride,Cinema
8,12,24,43,4,2021-01-06,Trani,Restaurant
9,49,89,34,4,2021-06-28,Trani,Restaurant
10,18,28,25,14,2021-10-28,Sant'Anna,School
11,22,70,37,3,2021-05-09,Grotto Morchino,Restaurant
12,80,69,20,3,2021-06-02,Grotto Morchino,Restaurant
13,28,70,50,18,2021-09-09,Zurich-Geneva,Train
14,99,53,89,18,2021-05-24,Zurich-Geneva,Train
15,32,31,27,7,2021-09-25,Delle radici,Theater
16,36,8,99,13,2020-12-03,Everest Accademy,School
17,45,14,26,15,2021-09-20,CSIA,School
18,56,4,62,21,2021-10-10,Nikka,Club
19,57,42,21,9,2021-04-18,Cinestar,Cinema
20,63,6,46,12,2021-08-26,Cantonale Lugano 1,School
21,73,13,83,1,2021-10-20,La Tinera,Restaurant
22,77,5,90,1,2021-01-08,La Tinera,Restaurant
23,76,72,87,20,2020-10-27,Underground,Club

In [53]:
meets_joined.columns

Index(['Unnamed: 0', 'person_id_1', 'person_id_2', 'place_id', 'meeting_date',
       'place_name', 'place_category'],
      dtype='object')

In [56]:
meets_joined_trimmed = meets_joined.drop(columns=["Unnamed: 0", "place_id"])
meets_joined_trimmed

    person_id_1  person_id_2 meeting_date           place_name place_category
0            83           68   2021-02-05                  Pan        Theater
1            43           66   2021-10-10                  Pan        Theater
2            37           85   2021-07-23                SEVEN           Club
3            76           85   2021-08-31    Leonardo da Vinci         School
4            22           97   2020-12-16    Leonardo da Vinci         School
5            31           36   2021-08-12  Al barilotto Lugano     Restaurant
6            23           46   2021-05-26                Iride         Cinema
7             7           31   2021-07-11                Iride         Cinema
8            24           43   2021-01-06                Trani     Restaurant
9            89           34   2021-06-28                Trani     Restaurant
10           28           25   2021-10-28            Sant'Anna         School
11           70           37   2021-05-09      Grotto Morchino     Restaurant
12           69           20   2021-06-02      Grotto Morchino     Restaurant
13           70           50   2021-09-09        Zurich-Geneva          Train
14           53           89   2021-05-24        Zurich-Geneva          Train
15           31           27   2021-09-25         Delle radici        Theater
16            8           99   2020-12-03     Everest Accademy         School
17           14           26   2021-09-20                 CSIA         School
18            4           62   2021-10-10                Nikka           Club
19           42           21   2021-04-18             Cinestar         Cinema
20            6           46   2021-08-26   Cantonale Lugano 1         School
21           13           83   2021-10-20            La Tinera     Restaurant
22            5           90   2021-01-08            La Tinera     Restaurant
23           72           87   2020-10-27          Underground           Club

In [58]:
meets_joined_trimmed.to_csv("mock_data/meets_trimmed.csv")