In [1]:
import pandas as pd

In [8]:
vaccine = pd.read_csv("mock_data/vaccine.csv")
vaccine.vaccine_date = pd.to_datetime(vaccine.vaccine_date)
vaccine.to_csv("mock_data/vaccine.csv")

    vaccine_id vaccine_date
0            1   2021-04-19
1            2   2020-10-10
2            3   2021-02-08
3            4   2021-05-20
4            5   2021-10-10
..         ...          ...
95          96   2021-01-31
96          97   2021-02-19
97          98   2021-03-22
98          99   2021-07-11
99         100   2021-10-01

[100 rows x 2 columns]

In [11]:
meeting = pd.read_csv("mock_data/meets.csv")
meeting.meeting_date = pd.to_datetime(meeting.meeting_date)
meeting.to_csv("mock_data/meets.csv")

In [13]:
test = pd.read_csv("mock_data/test.csv")
test.test_date = pd.to_datetime(test.test_date)
test.to_csv("mock_data/test.csv")
test

    test_id  test_date  test_type  result
0         1 2021-09-03  Antigenic    True
1         2 2021-06-26        PCR   False
2         3 2021-10-12  Antigenic   False
3         4 2021-01-31        PCR   False
4         5 2020-11-26  Antigenic   False
..      ...        ...        ...     ...
95       96 2021-01-21        PCR    True
96       97 2021-09-22  Antigenic    True
97       98 2020-12-04        PCR    True
98       99 2021-08-28  Antigenic   False
99      100 2021-03-03        PCR   False

[100 rows x 4 columns]

In [16]:
contag = pd.read_csv("mock_data/contagion.csv")
contag.contagion_date = pd.to_datetime(contag.contagion_date)
contag.to_csv("mock_data/contagion.csv")
contag

    contagion_id contagion_date
0              1     2020-10-22
1              2     2021-10-06
2              3     2021-06-26
3              4     2021-09-07
4              5     2021-08-10
..           ...            ...
95            96     2021-09-21
96            97     2020-11-23
97            98     2021-09-05
98            99     2020-12-12
99           100     2020-12-28

[100 rows x 2 columns]